USE [master]
GO
/****** Object:  Database [DB_WOB]    Script Date: 28.06.2022 8:45:52 ******/
CREATE DATABASE [DB_WOB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_WOB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DB_WOB.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_WOB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\DB_WOB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_WOB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_WOB]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 28.06.2022 8:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Author](
	[IdAuthor] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](70) NOT NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[IdAuthor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Book]    Script Date: 28.06.2022 8:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Book](
	[IdBook] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[IdAuthor] [int] NOT NULL,
	[IdCategory] [int] NOT NULL,
	[IdSubcategory] [int] NOT NULL,
	[IdCover] [int] NOT NULL,
	[IdPublishingHouse] [int] NOT NULL,
	[NumberOfPages] [smallint] NOT NULL,
	[Price] [smallmoney] NOT NULL,
	[YearOfPublishing] [date] NOT NULL,
	[QuantityInStock] [int] NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[IdBook] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BookImage]    Script Date: 28.06.2022 8:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BookImage](
	[IdImage] [int] IDENTITY(1,1) NOT NULL,
	[IdBook] [int] NOT NULL,
	[ImageSource] [varbinary](max) NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[IdImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 28.06.2022 8:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[IdCategory] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](80) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[IdCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Client]    Script Date: 28.06.2022 8:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Client](
	[IdClient] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [varchar](60) NOT NULL,
	[Name] [varchar](60) NOT NULL,
	[Address] [varchar](100) NOT NULL,
	[Phone] [char](11) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[IdClient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cover]    Script Date: 28.06.2022 8:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cover](
	[IdCover] [int] IDENTITY(1,1) NOT NULL,
	[Cover] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Cover] PRIMARY KEY CLUSTERED 
(
	[IdCover] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order]    Script Date: 28.06.2022 8:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[IdBook] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[IdClient] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[TotalValue] [smallmoney] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Position]    Script Date: 28.06.2022 8:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Position](
	[IdPosition] [int] IDENTITY(1,1) NOT NULL,
	[Position] [varchar](60) NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[IdPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PublishingHouse]    Script Date: 28.06.2022 8:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PublishingHouse](
	[IdPublishingHouse] [int] IDENTITY(1,1) NOT NULL,
	[PublishingHouse] [varchar](60) NOT NULL,
 CONSTRAINT [PK_PublishingHouse] PRIMARY KEY CLUSTERED 
(
	[IdPublishingHouse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subcategory]    Script Date: 28.06.2022 8:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subcategory](
	[IdSubcategory] [int] IDENTITY(1,1) NOT NULL,
	[Subcategory] [varchar](70) NOT NULL,
 CONSTRAINT [PK_Subcategory] PRIMARY KEY CLUSTERED 
(
	[IdSubcategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 28.06.2022 8:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[IdUser] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](200) NOT NULL,
	[IdPosition] [int] NOT NULL,
	[Login] [varchar](20) NOT NULL,
	[Password] [varchar](16) NOT NULL,
	[LastEnter] [date] NOT NULL CONSTRAINT [DF_User_LastEnter]  DEFAULT (getdate()),
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserImage]    Script Date: 28.06.2022 8:45:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserImage](
	[IdUserImage] [int] NOT NULL,
	[IdUser] [int] NOT NULL,
	[ImageSource] [varbinary](max) NULL,
 CONSTRAINT [PK_UserImage] PRIMARY KEY CLUSTERED 
(
	[IdUserImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([IdAuthor], [Name]) VALUES (1, N'Федор Достоевский ')
INSERT [dbo].[Author] ([IdAuthor], [Name]) VALUES (2, N'Стивен Кинг')
INSERT [dbo].[Author] ([IdAuthor], [Name]) VALUES (3, N'Агата Кристи')
SET IDENTITY_INSERT [dbo].[Author] OFF
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([IdBook], [Title], [IdAuthor], [IdCategory], [IdSubcategory], [IdCover], [IdPublishingHouse], [NumberOfPages], [Price], [YearOfPublishing], [QuantityInStock]) VALUES (1, N'НИ СЫ. Будь уверен в своих силах и не позволяй сомнениям мешать тебе двигаться вперед', 29, 4, 55, 2, 17, 320, 835.0000, CAST(N'2018-01-01' AS Date), 100)
INSERT [dbo].[Book] ([IdBook], [Title], [IdAuthor], [IdCategory], [IdSubcategory], [IdCover], [IdPublishingHouse], [NumberOfPages], [Price], [YearOfPublishing], [QuantityInStock]) VALUES (2, N'Устойчивость. Как выработать иммунитет к стрессу, депрессии и выгоранию', 30, 4, 55, 2, 17, 352, 550.0000, CAST(N'2022-01-01' AS Date), 298)
INSERT [dbo].[Book] ([IdBook], [Title], [IdAuthor], [IdCategory], [IdSubcategory], [IdCover], [IdPublishingHouse], [NumberOfPages], [Price], [YearOfPublishing], [QuantityInStock]) VALUES (3, N'Убить пересмешника...', 20, 1, 85, 2, 2, 416, 889.0000, CAST(N'2017-01-01' AS Date), 59)
SET IDENTITY_INSERT [dbo].[Book] OFF
SET IDENTITY_INSERT [dbo].[BookImage] ON 

SET IDENTITY_INSERT [dbo].[BookImage] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([IdCategory], [Category]) VALUES (1, N'Художественная литература')
INSERT [dbo].[Category] ([IdCategory], [Category]) VALUES (2, N'Детские книги')
INSERT [dbo].[Category] ([IdCategory], [Category]) VALUES (3, N'Бизнес-литература')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([IdClient], [Surname], [Name], [Address], [Phone]) VALUES (1, N'Матвиенко', N'Константин', N'г.Сочи ул.Армейская д.3 кв.147', N'89183892004')
INSERT [dbo].[Client] ([IdClient], [Surname], [Name], [Address], [Phone]) VALUES (2, N'Слепущенко', N'Виолетта', N'г.Муром ул.Яблоневая д.40 кв.50', N'89002903159')
SET IDENTITY_INSERT [dbo].[Client] OFF
SET IDENTITY_INSERT [dbo].[Cover] ON 

INSERT [dbo].[Cover] ([IdCover], [Cover]) VALUES (1, N'Мягкий')
INSERT [dbo].[Cover] ([IdCover], [Cover]) VALUES (2, N'Твердый')
INSERT [dbo].[Cover] ([IdCover], [Cover]) VALUES (3, N'Остальное')
SET IDENTITY_INSERT [dbo].[Cover] OFF
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([IdOrder], [IdBook], [IdUser], [IdClient], [Date], [TotalValue]) VALUES (1, 1, 3, 1, CAST(N'2022-10-03 00:00:00.000' AS DateTime), 835.0000)
INSERT [dbo].[Order] ([IdOrder], [IdBook], [IdUser], [IdClient], [Date], [TotalValue]) VALUES (2, 3, 3, 2, CAST(N'2022-05-11 00:00:00.000' AS DateTime), 889.0000)
INSERT [dbo].[Order] ([IdOrder], [IdBook], [IdUser], [IdClient], [Date], [TotalValue]) VALUES (3, 3, 3, 1, CAST(N'2022-05-04 00:00:00.000' AS DateTime), 889.0000)
SET IDENTITY_INSERT [dbo].[Order] OFF
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([IdPosition], [Position]) VALUES (1, N'Контент-менеджер')
INSERT [dbo].[Position] ([IdPosition], [Position]) VALUES (2, N'Администратор')
SET IDENTITY_INSERT [dbo].[Position] OFF
SET IDENTITY_INSERT [dbo].[PublishingHouse] ON 

INSERT [dbo].[PublishingHouse] ([IdPublishingHouse], [PublishingHouse]) VALUES (1, N'Эксмо')
INSERT [dbo].[PublishingHouse] ([IdPublishingHouse], [PublishingHouse]) VALUES (2, N'АСТ')
INSERT [dbo].[PublishingHouse] ([IdPublishingHouse], [PublishingHouse]) VALUES (3, N'Просвещение')
SET IDENTITY_INSERT [dbo].[PublishingHouse] OFF
SET IDENTITY_INSERT [dbo].[Subcategory] ON 

INSERT [dbo].[Subcategory] ([IdSubcategory], [Subcategory]) VALUES (11, N'Детективы')
INSERT [dbo].[Subcategory] ([IdSubcategory], [Subcategory]) VALUES (12, N'Проза')
INSERT [dbo].[Subcategory] ([IdSubcategory], [Subcategory]) VALUES (13, N'Драматургия')
SET IDENTITY_INSERT [dbo].[Subcategory] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([IdUser], [Surname], [Name], [Address], [IdPosition], [Login], [Password], [LastEnter]) VALUES (1, N'Сидоров', N'Илья', N'г. Краснодар ул. Красная д. 19 кв. 5', 1, N'Manager', N'Manager', CAST(N'2022-06-14' AS Date))
INSERT [dbo].[User] ([IdUser], [Surname], [Name], [Address], [IdPosition], [Login], [Password], [LastEnter]) VALUES (3, N'Терехов', N'Дмитрий', N'г.Краснодар ул.Гаврилова д.10 кв.148', 2, N'Admin', N'Admin', CAST(N'2022-06-14' AS Date))
INSERT [dbo].[User] ([IdUser], [Surname], [Name], [Address], [IdPosition], [Login], [Password], [LastEnter]) VALUES (4, N'Савченко', N'Георгий', N'г.Армавир ул.Титаровская д.15 кв.35', 1, N'SGeorge', N'0G4_20s', CAST(N'2022-06-14' AS Date))
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([IdAuthor])
REFERENCES [dbo].[Author] ([IdAuthor])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Category] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Category] ([IdCategory])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Category]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Cover] FOREIGN KEY([IdCover])
REFERENCES [dbo].[Cover] ([IdCover])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Cover]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_PublishingHouse] FOREIGN KEY([IdPublishingHouse])
REFERENCES [dbo].[PublishingHouse] ([IdPublishingHouse])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_PublishingHouse]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Subcategory] FOREIGN KEY([IdSubcategory])
REFERENCES [dbo].[Subcategory] ([IdSubcategory])
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_Book_Subcategory]
GO
ALTER TABLE [dbo].[BookImage]  WITH CHECK ADD  CONSTRAINT [FK_BookImage_Book] FOREIGN KEY([IdBook])
REFERENCES [dbo].[Book] ([IdBook])
GO
ALTER TABLE [dbo].[BookImage] CHECK CONSTRAINT [FK_BookImage_Book]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Book] FOREIGN KEY([IdBook])
REFERENCES [dbo].[Book] ([IdBook])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Book]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Client] FOREIGN KEY([IdClient])
REFERENCES [dbo].[Client] ([IdClient])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Client]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Position] FOREIGN KEY([IdPosition])
REFERENCES [dbo].[Position] ([IdPosition])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Position]
GO
ALTER TABLE [dbo].[UserImage]  WITH CHECK ADD  CONSTRAINT [FK_UserImage_User] FOREIGN KEY([IdUser])
REFERENCES [dbo].[User] ([IdUser])
GO
ALTER TABLE [dbo].[UserImage] CHECK CONSTRAINT [FK_UserImage_User]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [CK_Book_Pages] CHECK  (([NumberOfPages]>(0) AND [NumberOfPages]<(5000)))
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [CK_Book_Pages]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [CK_Book_Price] CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [CK_Book_Price]
GO
USE [master]
GO
